@import "materialize";
@import "font-awesome";

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////    
/* ............................................ - 1.General - ............................................ */
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
p {
  line-height: 2rem;
  padding-bottom: 10px;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

footer.page-footer {
  margin: 0;
}

blockquote {
    margin: 20px 0;
    padding: 0;
    border: none;
    font-size: 25px;
}

h3{
  padding: 20px 0 20px 0;
  margin-bottom: 40px;
}

.btncustom{
  margin-bottom:30px;
  span{
    vertical-align: top;
    padding-left: 10px;
  }
}

hr{
  width: 70%;
  height: 0;
  border: 0;
  opacity: 0.2;
  border-top: 2px #727878 solid;
  margin: 60px auto;
}



/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////    
/* ................................................ - 2. Header - ................................................. */
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////

header{
  nav{
    a:hover{
      @extend .teal-text, .text-lighten-2;
      transition: 0.3s;
    }
  }
}


/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////    
/* ................................................ - 3.Banner - ................................................. */
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////




/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////    
/* ............................................... - 4. Profile - ................................................ */
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.profile{
  h5{
  padding: 0 0 20px 0;
  }
  .info-block{
    padding: 0 5%;
  }
}

.photo-block {
  margin: 10% 0;
  text-align: center;
}

@media(min-width: 720px){
  .photo-block {
    margin: 0;
  }
}


/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////    
/* ............................................... - 5. Abilities - ............................................... */
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.abilities h5 
{
  padding: 0 5%; 
}

.abilities ul 
{
  padding: 0 5%; 
}

.abilities li{

  opacity: 0;
  padding: 3px;
  &:hover{
    @extend .grey, .lighten-2;
    i{
      padding-left: 3px;
      transition: 0.4s;
    }
  }
}
.skill-score
{
  float: right;
}

@media(min-width: 720px){
  .abilities h5 {
    padding: 0 2.5%; 
  }
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////    
/* ............................................... - 6. Portfolio - ............................................... */
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.portfolio .works{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.portfolio .info-block a{
  overflow: hidden;
  display: inline-block;
  margin-bottom: 30px;
  font-size: 0;
  @extend .z-depth-1;
  &:hover{
    @extend .z-depth-3;
    transition: 0.3s;
    transform: scale(1.1);
  } 
}

@media(min-width:768px ){

  .portfolio .info-block a{
    margin-right: 15px;
    margin-left: 15px;
  }
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////    
/* ........................................... - 7.Backbutton-section - .......................................... */
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.backbutton-section
{
  margin-top: -45px;
  margin-bottom: 30px;
  a{
    color: #e9e9e9;

    &:hover{
    @extend .teal-text, .text-lighten-2;
    transition: 0.3s;
    }
  }
}


/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////    
/* .............................................. - 8. Footer - .................................................. */
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

footer{
  li{
    margin-bottom: 10px;
    padding: 10px;
    opacity: 0;
  }
  i{
    padding-right: 10px;
  }
}

footer li a{
  color: #e9e9e9;

  &:hover{
    @extend .teal-text, .text-lighten-2;
    transition: 0.3s;
  }

  i{
    vertical-align: -20%;
  }
}

@media(min-width: 720px){
  footer li{
    margin-left: 30px;

    i{
      padding-right: 20px;
    }
  }
  footer hr{
    margin: 75px auto;
  }
}

@media(min-width : 992px){
  footer li{
    margin-left: 30px;

    i{
      padding-right: 30px;
    }
  }
}

